.wrapper {
  background-color: #e6ffe6;
  display: flex;
  padding: 40px;
}
.content {
  /* display: flex; */
  /* flex: 4.5; */
  background-color: #e6ffe6;
  margin-left: auto;
  margin-right: auto;

}

.contact-btn {
  border-radius: 10px;
  border: 1px solid #25b60f;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #fff;
}