.tab-header {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-top: 70px;
}

.tab-header li {
  flex: 1;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.activeButton {
  background-color: blue;
  color: white;
  font-weight: 600;
}
